:root {
    --main-button:#BBF330;
    --border-button:#7EB101;
    --background:#FFE550;
    --main-text:#2C2C2C;
    --main-background:#FEFEFE;
}

.link {
    text-decoration: none;
}

.list {
    list-style:none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4, p {
    margin: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: var(--main-background);
    color: var(--main-text);
}

button {
font-family: inherit;
cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* HEADER */

header .container {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation-list {
    display: flex;
}

.nav-link {
    font-size: 14px;
    line-height: calc(16/14);
    color: var(--main-text);
    padding-top: 28px;
    padding-bottom: 28px;
    display: block;
}

.nav-list-item:not(:last-child) {
    margin-right: 28px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--main-button);
}

.current {
    text-decoration: underline;
    color: var(--main-button);
}

.header-button {
    background-color: var(--main-button);
    color: var(--main-text);
    padding: 6px 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20/13);
    border-radius: 30px;
    border:none;
    margin-left: 30px;

}

.header-button:hover,
.header-button:focus {
    background-color: #FFE450;;
}

/* Hero section */

.hero {
    
}
.hero .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-tittle {
    font-size: 48px;
    line-height: calc(58/48);
    color:var(--main-text);
    width: 502px;
    margin-bottom: 28px;
}
.hero-text {
    font-size: 16px;
    line-height: calc(24/16);
    width: 502px;
    margin-bottom: 40px;
}
.order-button {
    background-color: var(--main-button);
    color: var(--main-text);
    padding: 6px 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20/13);
    border-radius: 30px;
    border:none;
}

.order-button:hover,
.order-button:focus {
    background-color: #FFE450;;
}

.img-wrapper{
    border: 26px solid var(--background);
    border-radius: 50%;
    width: 580px;
    height: 580px;
    
}

/* Styles: section About */
.about{
    background: var(--background);
}
.about .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apple-wrapper{
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-title{
    width: 526px;
    font-size: 42px;
    line-height: calc(50/42);
    margin-bottom: 20px;
}
.about-text{
    width: 500px;
    font-size: 16px;
    line-height: calc(24/16);
    margin-bottom: 40px;
}
.about-list{
    display: flex;
    gap: 67px;
    margin-bottom: 32px;
}
.about-list-title{
    font-size: 18px;
    line-height: calc(25/18);
    color: var(--main-text);
    margin-bottom: 16px;
}
.about-list-desc{
    width: 253px;
    font-size: 14px;
    line-height: calc(21/14);
    color: var(--main-text);
}
.about-button{
    background-color: var(--main-background);
    color: var(--main-text);
    padding: 10px 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20/13);
    border-radius: 30px;
    border: 2px solid var(--border-button);
}

.about-button:hover,
.about-button:focus {
    background-color:var(--main-button);
}
